@font-face {
  font-family: 'NeueHaasUnica';
  src:
    url('./fonts/NeueHaasUnica/NeueHaasUnica.ttf') format('truetype'),
    url('./fonts/NeueHaasUnica/NeueHaasUnica.eot') format('eot'),
    url('./fonts/NeueHaasUnica/NeueHaasUnica.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueHaasUnica/NeueHaasUnica.woff2') format('woff2'),
    url('./fonts/NeueHaasUnica/NeueHaasUnica.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
